<div id="information">
  <div id="profile"></div>

  <div id="info-cards">
    <div class="card">
      <p>&nbsp;&nbsp;&nbsp;Education</p>
      <ul>
        <li>
          <p class="tags">
            Bachelor of Science in Information Technology-with Area of
            Specialization in Web Development<br /><span
              >Holy Angel University, Santo Rosario St, Angeles City |
              <span>2020-2024</span></span
            >
          </p>
        </li>
        <li>
          <p class="tags">
            SHS: Science, Technology, Engineering, and Mathematics<br /><span
              >Holy Angel University, Santo Rosario St, Angeles City |
              <span>2018-2020</span></span
            >
          </p>
        </li>
        <li>
          <p class="tags">
            Junior High School<br /><span
              >Holy Angel University, Santo Rosario St, Angeles City |
              <span>2011-2018</span></span
            >
          </p>
        </li>
        <li>
          <p class="tags">
            Elementary<br /><span
              >Tacondo Elementary School, Margot, Angeles City |
              <span>2004-2011</span></span
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
