<div id="information">
  <div id="profile"></div>

  <div id="info-cards">
    <div class="card">
      <p>&nbsp;&nbsp;&nbsp;References</p>
      <ul>
        <li>
          <p class="tags">
            John David<br />
            <span>Cloud Architect | <span>0975 751 5123</span></span>
          </p>
        </li>
        <li>
          <p class="tags">
            Marina Chu<br />
            <span>Web Developer | <span>0972 940 1846</span></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
