html {
  font-family: 'Open Sans', sans-serif;
  background: rgb(230, 229, 229);
}
a {
  text-decoration: none;
  color: black;
}
hr {
  background: grey;
}
#information {
  position: relative;
  display: flex;
}
#profile {
  flex: 15%;
  display: block;
  position: relative;
  margin: 5% 2% 0 10%;
  width: 100%;
  height: 100%;
}
#info-cards {
  flex: 55%;
  display: block;
  margin-top: 5%;
  margin-right: 10%;
  width: 100%;
  height: 100%;
}
#image {
  position: relative;
  overflow: hidden;
}
#image,
#profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
#image > a {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5) !important;
  height: 100%;
  width: 100%;
  display: none;
}

#image:hover a {
  display: block;
}
#name {
  font-size: 23px !important;
  line-height: 20px !important;
}
#about,
.card > ul > li {
  padding: 0 0 0 15px;
  position: relative;
  display: inline-block;
  width: 100%;
}
#about {
  font-size: 20px !important;
  padding: 0 !important;
}
#name,
#about > p {
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}
#contact > p {
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}
#email {
  font-size: 15px !important;
  font-weight: bold !important;
  font-family: 'Cutive Mono', monospace;
}
#school,
#email,
#basic-information,
#telephone {
  color: rgb(90, 90, 90);
  font-size: 14px;
}
#college {
  color: rgb(29, 29, 29);
  font-size: 16px;
}
strong,
span {
  color: black;
  font-size: 16px;
}
#about {
  display: inline-block;
}

#about > a {
  top: 4px;
  right: 8px;
}

#about > a {
  position: absolute;
  font-size: 15px !important;
}
.card {
  box-shadow: 0 3px 10px 0 rgba(36, 28, 18, 0.726);
  overflow-x: hidden;
  margin-bottom: 30px;
  padding: 15px 80px 40px 20px;
  background-color: rgb(247, 247, 247);
}
.card > p {
  color: #3a4549;
  font-weight: bolder;
  font-size: 18px;
  line-height: 2;
}
.card > ul {
  list-style-type: none;
}
.tags {
  font-size: 17px;
  font-weight: bolder;
  text-align: justify;
}
.tags ~ a {
  display: none !important;
}
.tags span {
  font-size: 14px;
  font-weight: normal;
  color: #2d343a;
}
.tags span span {
  color: #698699;
}
.skill-set li:hover {
  background: #1a150e;
}
.skill-set {
  max-width: 150px;
}
.skill-set li {
  background: rgba(78, 63, 40, 0.75);
  border-radius: 5px;
  color: #fff;
  margin: 10px 10px 5px 20px;
  font: normal 0.9em/3em 'Open Sans', sans-serif;
}
footer {
  text-align: center;
  font: normal small-caps 0.8em/4em 'Raleway', sans-serif;
}
.orange {
  color: orange;
}

.blue {
  color: blue;
}
