<div id="information">
  <div id="profile"></div>

  <div id="info-cards">
    <div class="card">
      <p>&nbsp;&nbsp;&nbsp;Skills</p>
      <ul>
        <li>
          <p class="tags">HTML</p>
          <div class="container">
            <div class="skills html">90%</div>
          </div>
        </li>

        <li>
          <p class="tags">CSS</p>
          <div class="container">
            <div class="skills css">70%</div>
          </div>
        </li>

        <li>
          <p class="tags">JavaScript</p>
          <div class="container">
            <div class="skills js">40%</div>
          </div>
        </li>

        <li>
          <p class="tags">Python</p>
          <div class="container">
            <div class="skills py">80%</div>
          </div>
        </li>

        <li>
          <p class="tags">WordPress</p>
          <div class="container">
            <div class="skills wp">95%</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
