<div id="information">
  <div id="profile"></div>

  <div id="info-cards">
    <div class="card">
      <p>&nbsp;&nbsp;&nbsp;Achievements</p>
      <ul>
        <li>
          <p class="tags">
            With Honors<br />
            <span>High School | <span>2019-2020</span></span>
          </p>
        </li>
        <li>
          <p class="tags">
            Dean's Lister<br />
            <span>First Semester | <span>2020-2021</span></span>
          </p>
        </li>
        <li>
          <p class="tags">
            President's Lister<br />
            <span>Second Semester | <span>2020-2021</span></span>
          </p>
        </li>
        <li>
          <p class="tags">
            Dean's Lister<br />
            <span
              >First Semester - Second Semester | <span>2021-2022</span></span
            >
          </p>
        </li>
        <li>
          <p class="tags">
            Dean's Lister<br />
            <span>First Semester | <span>2022-2023</span></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
